body {
  font-family: Arial, Helvetica, sans-serif;
  height: max-content;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: auto;
}

li {
  display: flex;
  margin: auto;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 20pt;
}

p {
  font-size: 18pt;
}

#topBar {
  padding: 5px;
  color: white;
  width: 100%;
  background-color: rgba(85, 121, 119, 0.55);
  position: sticky;
  top: 0%;
  margin: auto;
  display: flex;
  z-index: 1;
}

#topBar p {
  font-size: 12pt;
}

#internalLinks {
  position: relative;
  float: right;
  margin-right: 5px;
  padding: 5px 0px 0px 0px;
}

.internalButton {
  margin-left: 15px;
  margin-right: 20px;
}

#kastLogo {
  width: 201px;
  margin-left: 10px;
  margin-top: 5px;
}
#kastLogo:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.downChevron {
  height: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.downButton {
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropMenu {
  position: relative;
  display: inline-block;
}

.dropMenuHidden {
  visibility: hidden;
}

.dropMenuContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.dropMenuContent a {
  color: rgb(167, 167, 167);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12pt;
}

.dropMenuContent a:hover {
  background-color: transparent;
}

.dropMenu:hover .dropMenuContent {
  display: block;
  border: none;
}

.dropMenu:hover .downButton {
  background-color: transparent;
  border: none;
}

.diagonalArrow {
  height: 12.5px;
  width: 12.5px;
}

#prpGeo {
  height: 900px;
  width: 100%;
  background-image: url(staticAssests/gradient-violet-bg.jpg);
  background-size: cover;
  display: block;
  margin-top: -80px;
  text-align: center;
}

.blankBox {
  height: 105px;
}

.blankBoxSmall {
  height: 35px;
}

.laptopPicture {
  max-width: 600px;
  margin: auto;
}

#textBox1 {
  color: white;
  margin: auto;
  min-width: 560px;
  font-size: 20px;
  padding: 10px;
}

#whiteSection {
  text-align: center;
  margin: auto;
}

#feature {
  font-size: 24px;
  color: #434146;
}

#logoGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 80px 140px;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
}

.greenSection {
  background-image: url(staticAssests/green-bg.jpg);
  background-size: cover;
  height: 800px;
  width: 100%;
}
#greenSectionText {
  color: white;
  text-align: center;
  min-width: 700px;
}

#whiteSection2 {
  margin: auto;
  text-align: center;
}

.orangeButton {
  background-color: orange;
  border: none;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 18pt;
  color: white;
  display: flex;
  margin: auto;
}

.orangeButton:hover {
  font-size: 19pt;
}

.clearButton:hover {
  font-size: 11pt;
}

.clearButton {
  background-color: transparent;
  border: 1.5px white solid;
  padding: 5px;
  border-radius: 2px;
  font-size: 10pt;
}

#vidText {
  height: 80px;
  text-align: center;
  margin-top: 60px;
}
