body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: max-content;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: auto;
}

li {
  display: flex;
  margin: auto;
}

#topBar {
  padding: 5px;
  color: white;
  max-width: 1800px;
  background-color: rgba(85, 121, 119, 0.55);
  position: sticky;
  top: 0%;
  margin: auto;
  display: flex;
  font-size: 16px;
  font-style: bold;
  z-index: 1;
  
}

#internalLinks {
  position: relative;
  margin-right: 5px;
  padding: 5px 0px 0px 0px;
}

.internalButton {
  margin-left: 15px;
  margin-right: 20px;
}

#kastLogo {
  width: 201px;
  margin-left: 10px;
  margin-top: 5px;
}

.downChevron {
  height: 10px;
  
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Dropdown Box code learned from W3Schools and adapted for my use */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownHidden{
  visibility: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(167, 167, 167);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: none;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  border: none;
}

#prpGeo {
  height: 800px;
  width: 100%;
  background-image: url(staticAssests/gradient-violet-bg.jpg);
  display: block;
  margin-top: -80px;
  text-align: center;
}

.blankBox {
  height: 105px;
}

.blankBoxSmall {
  height: 35px;
}

.laptopPicture {
  max-width: 600px;
  margin: auto;
}

#textBox1 {
  color: white;
  margin: auto;
  width: 30%;
  padding: 10px;
}

#whiteSection {
  text-align: center;
  margin: auto;
}

#feature {
  font-size: 18px;
  color: #434146;
}

#logoGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 80px 140px;
  width: 80%;
  margin: auto;
 justify-content: center;
}

/* .logoGridItem {
} */

#greenSection {
  background-image: url(staticAssests/green-bg.jpg);
  height: 600px;
  width: 100%;
  
}
#greenSectionText{
  
  color: white;
  text-align: center;
  min-width: 700px;
  
}

#whiteSection2 {
  margin: auto;
  text-align: center;
}

.orangeButton {
  background-color: orange;
  border: none;
  padding: 10px;
  border-radius: 5px;
  /* transition-property: ; */
  /* transform: scale(1.1, 1.1); */
}

/* .orangeButton:hover{
  background-color: white;
} */

.clearButton {
  background-color: transparent;
  border: 1.5px white solid;
  padding: 5px;
  border-radius: 2px;
  font-size: 10pt;
  /* transition: 0.3s; */
}

/* .clearButton:hover{
  transform: scale(1.1, 1.1);
} */

#vidText{
  height: 80px;
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
  font-weight: bold;
}