body {
 font-family: Helvetica, Arial, sans-serif;  
}

ul {
    list-style: none;
}

nav {
    background: black;
    position: fixed;
    top: 0;
    margin: auto;
    width: 1080px;
    z-index: 10;
    display: flex;
    

}
#socials{
    position: fixed;
    top: 0;
    left: 0;

}
#searchBar{
    position: fixed;
    top: 0;
    right: 0;

}
.navBar div{
    background-color: white;
   display: flex;
   margin: auto;

}